extends _layout/base

block vars
    - var works = 'is-active'

block hero
    h1.title 成员作品
        h2.subtitle 教程、资源集散地
        p.content 天灵灵地灵灵，太上老君快显灵
        p.content 如果是这样呢？

block content
    section.section
        .container
            include _partial/message.jade

            .columns.is-multiline
                - each w in workList
                    .column.is-3
                        .card
                            .card-image
                                figure.image.is-4by3
                                    img(src='http://placehold.it/300x225')
                            .card-content
                                .media
                                    .media-content
                                        h5.title.is-5
                                            a(href='/works/#{w._id}') #{w.title}
                                        h6.subtitle.is-6.work-author: strong @#{w.uploader}
                                .content #{w.description}
                                .content.columns.is-multiline
                                    .column.is-12
                                        p.subtitle.is-6
                                            span.icon.is-small
                                                i.fa.fa-clock-o
                                            &nbsp;
                                            span.work-date #{w.date}
                                    .column.is-12
                                        p.subtitle.is-6
                                            span.icon.is-small: i.fa.fa-comments
                                            &nbsp;
                                            span.disqus-comment-count(data-disqus-identifier='#{w._id}') 0
    include _partial/comment-count

block idol
    img(src='/img/idols/stardust.png')

block scripts
    script(src='/vendor/moment.min.js')
    script(src='/js/date.js')
